/* * use BEM (Block, Entity, Modifier) for all css classes */
/* * Structure */
.error_container {
    margin-bottom: var(--size-200);
    display: flex;
    color: var(--color-alert-red);
    fill: var(--color-alert-red);
    stroke: var(--color-alert-red);
    text-align: left;
}

/* * Typography */
.secondary_text_accent {
    font: var(--font-accent-400);
}

/* * Icons */
.icon_warning {
    width: var(--size-200);
    min-width: var(--size-200);
    height: auto;
    fill: inherit;
    stroke: inherit;
    margin-right: var(--size-150);
}