/* * use BEM (Block, Entity, Modifier) for all css classes */
/* * Structure */
.form_input {
    margin-bottom: var(--size-200);
    position: relative;
}

/* * Typography */
.primary_text {
    font: var(--font-400);
}

.primary_text__shrink {
    font: var(--font-200);
}

/* * Icons */
.icon_default {
    width: var(--size-350);
    height: auto;
    fill: inherit;
    stroke: inherit;
}

.input_password_icon {
    right: var(--size-150);
    fill: var(--color-400);
    stroke: var(--color-400);
    background-color: transparent;
}

.input_password_icon:hover {
    fill: var(--color-500);
    stroke: var(--color-500);
}

/* * Inputs */
.input {
    height: var(--size-600);
    padding: var(--size-250) var(--size-600) var(--size-075) var(--size-125);
    color: var(--color-800);
    background-color: var(--color-060);
    border: 2px solid transparent;
    border-radius: 4px;
}

.input:hover {
    background-color: var(--color-080);
    border: 2px solid var(--color-100);
}

.input:focus {
    background-color: var(--color-020);
    border: 2px solid var(--color-800);
}

.input__error, .input__error:focus, .input__error:hover {
    border: 2px solid var(--color-alert-red);
}

/* * Labels */
.input_label, .input_password_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input_label {
    left: var(--size-150);
    line-height: var(--line-height);
    color: var(--color-500);
    text-shadow: var(--shadow-xs);
    pointer-events: none;
}

.input_label__shrink {
    top: var(--size-150);
    color: var(--color-600);
}

.input_label__error {
    color: var(--color-alert-red);
}