/* * use BEM (Block, Entity, Modifier) for all css classes */
/* * Typography */
.primary_text {
    font: var(--font-400);
}

.primary_text__shrink {
    font: var(--font-200);
}

/* * Container */
.form_input {
    margin-bottom: var(--size-350);
    position: relative;
}
.form_input__error {
    margin-bottom: var(--size-200);
}

/* * Inputs */
.input {
    height: var(--size-600);
    color: var(--color-800);
    background-color: var(--color-060);
    padding: var(--size-250) var(--size-150) var(--size-075) var(--size-125);
    border: 2px solid transparent;
    border-radius: 4px;
}
.input:hover {
    background-color: var(--color-080);
    border: 2px solid var(--color-100);
}

.input:focus {
    background-color: var(--color-020);
    border: 2px solid var(--color-800);
}

.input__error {
    border: 2px solid var(--color-alert-red);
}

.input_label {
    line-height: var(--line-height);
    text-shadow: var(--shadow-xs);
    color: var(--color-500);
    position: absolute;
    top: 50%;
    left: var(--size-150);
    transform: translateY(-50%);
    pointer-events: none;
}

.input_label__shrink {
    color: var(--color-600);
    top: var(--size-150);
}

.input_label__error {
    color: var(--color-alert-red);
}