/* * use BEM (Block, Entity, Modifier) for all css classes */
/* * Structure */
.form_password_check {
    margin-bottom: var(--size-350);
}

.password_check {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-150);
}

/* * Typography */
.primary_text_accent__shrink {
    font: var(--font-accent-300);
}

/* * Icons */
.icon_check {
    width: var(--size-100);
    height: auto;
    position: absolute;
    fill: inherit;
    stroke: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* * Check Boxes */
.password_check_box {
    margin-right: var(--size-100);
    position: relative;
    fill: var(--color-000);
    stroke: var(--color-000);
}

.check_box {
    width: var(--size-200);
    height: var(--size-200);
    background-color: var(--color-200);
    border-radius: 3px;
}

.check_box__checked {
    background-color: var(--color-green);
    border-radius: 50%;
}

.check_box__error {
    background-color: var(--color-alert-red);
}