/* * use BEM (Block, Entity, Modifier) for all css classes */
/* * Structure */
.checkbox_container {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-350);
}

/* * Typography */
.accent_text {
    font: var(--font-accent-400);
}

/* * Icons */
.icon_check {
    width: var(--size-150);
    height: auto;
    fill: inherit;
    stroke: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* * Inputs */
.checkbox_input {
    margin-right: var(--size-100);
    position: relative;
    fill: var(--color-800);
    stroke: var(--color-800);
}

.checkbox {
    appearance: none;
    width: var(--size-225);
    height: var(--size-225);
    background-color: var(--color-060);
    border: 2px solid transparent;
    border-radius: 3px;
}

.checkbox:hover {
    background-color: var(--color-080);
    border: 2px solid var(--color-100);
}

.checkbox:focus {
    box-shadow: 0 0 0 var(--size-025) var(--color-000), 0 0 0 var(--size-050) var(--color-800);
}