/* * use BEM (Block, Entity, Modifier) for all css classes */

/* * Imports */
@import url('https://fonts.googleapis.com/css2?family=fantasy:wght@200&display=swap');

/* * Media Queries */
@media screen and (width > 2600px) {
    #background {
        background-size: cover; /* Maintain aspect ratio and fit within 2600px width */
        background-repeat: no-repeat;
        background-color: var(--color-1000); /* Fallback color */
        box-shadow: inset 10px 0 10px -10px var(--color-darken-700), inset -10px 0 10px -10px var(--color-darken-700);
    }
}

#background {
    margin: 0 auto;
    width: 100%;
    max-width: var(--view-max);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('./assets/rayquazagif.gif');
    background-position:top;
    background-size: cover;
    z-index: -1;
}

#container {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* * CSS Resets */
/* Box sizing rules and global spacing reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    z-index: -1;
    background-color: var(--color-1000);
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    margin: 0 auto;
    line-height: var(--line-height-comfy);
    -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
    line-height: var(--line-height-tight);
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}