/*  * Use BEM (Block, Element, Modifier) for all CSS classes */
/* * Media Queries */
@media screen and (width >= 960px) { /* ! awaiting var() support in @media queries */
    .container {
        width: calc(100% - 2 * var(--size-150));
        margin: var(--size-150);
        border-radius: 15px;
        height: var(--size-900);
    }
    .icon {
        display: none;
    }
}

@media screen and (width < 960px) { /* ! awaiting var() support in @media queries */
    .container {
        width: 100%;
        height: var(--size-700);
    }
    .header_main {
        width: 100%;
    }
    .title {
        display: none;
    }
}

/* * Blocks */
.container {
    position: sticky;
    background-color: var(--color-darken-400);
    padding: var(--size-075) var(--size-150) var(--size-075) var(--size-075);
    color: var(--color-000);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* * Block - navPrimary */
.navPrimary {
    height: 100%;
}

/* * Block - navSecondary */

/* * Typography */
.primary_text {
    font: var(--font-800);
}

.secondary_text {
    font: var(--font-600);
}

.dropdown_text {
    line-height: var(--line-height-slack);
}

.account_info {
    display: flex;
    align-items: center;
    width: calc(100% - (var(--size-400) * 2));
    margin: var(--size-100) var(--size-400) var(--size-200) var(--size-400);
    text-overflow: ellipsis;
}

.avatar {
    width: var(--size-700);
    height: auto;
    border: 2px solid var(--color-900);
    border-radius: 5px;
    margin-right: var(--size-150);
}

.info_username {
    color: var(--color-teal-lighten);
    font: var(--font-500);
    line-height: var(--line-height-tight);
    margin-bottom: var(--size-050);
}

.info_email {
    color: var(--color-400);
    font: var(--font-accent-400);
    line-height: var(--line-height-tight);
}

/* * Header */


.nav_secondary {
    height: 100%;
}

.primary_logo, .logo {
    height: inherit;
    margin-right: var(--size-075);
}

.logo:hover {
    animation: wiggle 0.7s ease;
}

.title {
    height: 95%;
}

/* * Links */
.primary_link, .dropdown, .dropdown_link, .login, .play_link  {
    text-decoration: none;
    color: inherit;
    transition: var(--transition-hover);
    cursor: pointer;
}

.primary_link, .dropdown, .dropdown_link, .login {
    padding: 0 var(--size-200);
}

.primary_link, .dropdown, .play_link  {
    height: var(--size-600);
    border-radius: 8px;
}

.primary_link:hover, .dropdown:hover, .dropdown_link:hover {
    background-color: var(--color-lighten-400);
}

.dropdown_link, .login {
    border-radius: 5px;
}

.dropdown_link {
    width: calc(100% - 2 * (var(--size-200)));
    font: var(--font-accent-600);
    background-color: transparent;
    margin: 0 var(--size-200);
    display: flex;
    align-items: center;
}

.login {
    width: calc(100% - (var(--size-400) * 2));
    background-color: var(--color-teal);
    margin: var(--size-100) var(--size-400) var(--size-200) var(--size-400);
}
.login:hover {
    background-color: var(--color-teal-lighten);
}

.play_link {
    margin-left: var(--size-200);
    padding: 0 var(--size-300);
    background-color: var(--color-green);
}
.play_link:hover {
    background-color: var(--color-green-lighten);
}

/* * Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown_bridge, .dropdown_menu, .dropdown_bridge::before, .menu_secondary {
    position: absolute;
    pointer-events: none;
    cursor: auto;
    opacity: 0;
    transition: var(--transition-hover);
}

.dropdown_bridge {
    height: var(--size-200);
    top: 100%;
}

.dropdown_bridge, .dropdown_menu, .menu_secondary {
    width: 312px;
}

.dropdown_bridge::before {
    content: '';
    width: var(--size-250);
    height: var(--size-250);
    top: calc(100% - var(--size-200) / 2);
    left: calc(50% + (var(--size-250) / 3.5)); /* quick approximation of a^2 + b^2 = c^2 babbyyyyyy */
    transform: translateX(-50%) rotate(45deg);
    background: linear-gradient(135deg, var(--color-background-700) 50%, transparent 50%);
    border-radius: 4px;
}

.dropdown_menu, .menu_secondary {
    padding: var(--size-200) 0;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    transform: perspective(var(--view-md)) rotateX(-10deg); /* Initially rotate the menu */
    transform-origin: top center;
}

.dropdown_menu {
    background-color: var(--color-background-700);
    top: calc(100% + var(--size-200));
}

.menu_primary {
    border-radius: 8px 8px 0 0;
}

.menu_secondary {
    top: 100%;
    background-color: var(--color-background-800);
    border-radius: 0 0 8px 8px;
}

.dropdown:hover {
    .dropdown_bridge, .dropdown_bridge::before, .dropdown_menu, .menu_secondary {
        pointer-events: auto;
        opacity: 1;
    }
    .dropdown_menu, .menu_secondary {
        transform: perspective(var(--view-md)) rotateX(0deg);
    }
}

/* * Icons */
.icon_default, .icon_arrow, .icon_externalLink {
    width: auto;
}

.icon_default {
    height: var(--size-250);
    margin-right: var(--size-150);
    fill: var(--color-100);
    stroke: var(--color-100);
}

.icon_dropdownArrow {
    margin-left: var(--size-075);
    height: var(--size-075);
    fill: var(--color-100);
    stroke: var(--color-100);
}

.icon_externalLink {
    height: var(--size-100);
    margin-left: var(--size-100);
    fill: var(--color-lighten-500);
    stroke: var(--color-lighten-500);
}

/* * Keyframes */
@keyframes wiggle {
    0%, 100% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-3px) rotate(-5deg);
    }
    50% {
        transform: translateX(3px) rotate(5deg);
    }
    75% {
        transform: translateX(-3px) rotate(-5deg);
    }
}