/* * use CEM (Component, Entity, Modifier) for all css classes */
.header {
    position: sticky;
    background-color: var(--color-darken-400);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: var(--size-075);
}

@media screen and (width < 960px) { /* ! awaiting var() support in @media queries */
    .header {
        width: 100%;
        height: var(--size-700)
    }
}

@media screen and (width >= 960px) { /* ! awaiting var() support in @media queries */
    .header {
        width: calc(100% - 2 * var(--size-150));
        margin: var(--size-150);
        border-radius: 15px;
        height: var(--size-900)
    }
}

.header_main {
    height: 100%;
}

.header_logo {
    height: 100%;
}
.header_logo:hover {
    animation: wiggle 0.7s ease;
}

.nav_title {
    margin-left: var(--size-200);
    height: 100%;
}

.title {
    height: 95%;
    transition: all 0.3s ease;
}
.title:hover {
    height: 100%;
}

.nav_link {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: var(--gold);
    fill: var(--gold);
	stroke: var(--gold);
    transition: all 0.3s ease;
}
.nav_link:hover {
    color: var(--gold--hover);
    fill: var(--gold--hover);
	stroke: var(--gold--hover);
}

.nav_button {
    width: 20%;
    padding: 1em 1.5em 1em 1em;
    margin-right: 2em;
    font-size: 1.125em;
    font-weight: bold;
    color: var(--gold);
    border: 2px solid var(--gold);
    border-radius: 15em 100em 100em 15em;;
    fill: var(--gold);
	stroke: var(--gold);
}
.nav_button:hover {
    background-color: var(--gold);
    color: var(--navy);
    fill: var(--navy);
	stroke: var(--navy);
}

.button_logout:hover {
    color: var(--scarlet);
    fill: var(--scarlet);
	stroke: var(--scarlet);
}

@keyframes wiggle { /* Keyframes for the wiggle animation */
    0%, 100% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-3px) rotate(-5deg);
    }
    50% {
        transform: translateX(3px) rotate(5deg);
    }
    75% {
        transform: translateX(-3px) rotate(-5deg);
    }
}