/* * use BEM (Block, Entity, Modifier) for all css classes */

/* * Typography */
.primary_text {
    font: var(--font-400);
}

.primary_text__shrink {
    font: var(--font-200);
}

.primary_text_accent__shrink {
    font: var(--font-accent-300);
}

.secondary_text_accent {
    font: var(--font-accent-400);
}

/* * Alerts */
.error_container {
    margin-bottom: var(--size-200);
    display: flex;
    align-items: center;
    color: var(--color-alert-red);
    fill: var(--color-alert-red);
    stroke: var(--color-alert-red);
}

/* * Form Inputs */
.form_input, .form_password_check {
    margin-bottom: var(--size-350);
}

.input, .input_password {
    border-radius: 4px;
}

.form_input, .form_password {
    position: relative;
}

.form_input__error {
    margin-bottom: var(--size-200);
}

.input, .input_password {
    height: var(--size-600);
    padding: var(--size-250) var(--size-150) var(--size-075) var(--size-125);
    color: var(--color-800);
    background-color: var(--color-060);
    border: 2px solid transparent;
}

.input:hover, .input_password:hover {
    background-color: var(--color-080);
    border: 2px solid var(--color-100);
}

.input__focus, .input_password__focus, .input__focus:hover, .input_password__focus:hover {
    background-color: var(--color-020);
    border: 2px solid var(--color-800);
}

.input_password {
    padding: var(--size-250) var(--size-600) var(--size-075) var(--size-125);
}

.input__error {
    border: 2px solid var(--color-alert-red);
}

.input__error:hover {
    border: 2px solid var(--color-alert-red);
}

.input_label, .input_password_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input_label {
    left: var(--size-150);
    line-height: var(--line-height);
    color: var(--color-500);
    text-shadow: var(--shadow-xs);
    pointer-events: none;
}

.input_label__shrink {
    top: var(--size-150);
    color: var(--color-600);
}

.input_label__error {
    color: var(--color-alert-red);
}

.input_password_icon {
    right: var(--size-150);
    fill: var(--color-400);
    stroke: var(--color-400);
    background-color: transparent;
}

.input_password_icon:hover, .input_password_icon__active {
    fill: var(--color-500);
    stroke: var(--color-500);
}

.form_password, .password_check {
    margin-bottom: var(--size-150);
}

.password_check {
    display: flex;
    align-items: center;
}

.password_check_box {
    margin-right: var(--size-100);
    position: relative;
    fill: var(--color-000);
    stroke: var(--color-000);
}

.check_box {
    width: var(--size-200);
    height: var(--size-200);
    background-color: var(--color-200);
    border-radius: 3px;
}

.check_box__checked {
    background-color: var(--color-green);
    border-radius: 50%;
}

.check_box__error {
    background-color: var(--color-alert-red);
}

/* * Icons */
.icon_default, .icon_check, .icon_warning {
    height: auto;
    fill: inherit;
    stroke: inherit;
}

.icon_default {
    width: var(--size-350);
}

.icon_check {
    position: absolute;
    width: var(--size-100);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.icon_warning {
    width: var(--size-200);
    margin-right: var(--size-075);
}