.screenSize_container {
    height: 20px;
    width: 100vw;
    padding: 0 15%;
    text-align: center;
    font-size: 8pt;
    background-color: var(--black);
}

.label {
    margin: 0;
    color: var(--white);
}

.button, .button_small {
    margin: 0 5px;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.2s ease 0.2s;
    transition: background-color 0.2s ease 0.2s;
}
.button {
    width: 80px;
}
.button_small {
    padding: 2px 2px;
}

.button:hover {
    color: var(--white);
    background-color: var(--white);
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

.lg16_9::after, .md16_9::after, .sm16_9::after, .sm4_3::after, .lg19_5_9::after, .md19_5_9::after, .sm19_5_9::after {
    opacity: 0;
    color: var(--black);
    position: fixed;
    transition: opacity 0.2s ease;
}

.lg16_9:hover::after, .md16_9:hover::after, .sm16_9:hover::after, .sm4_3:hover::after, .lg19_5_9:hover::after, .md19_5_9:hover::after, .sm19_5_9:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease 0.2s;
}

.lg16_9::after {
    content: '2560 x 1440';
}
.md16_9::after {
    content: '1920 x 1080';
}
.sm16_9::after {
    content: '1366 x 768';
}
.sm4_3::after {
    content: '1024 x 768';
}
.lg19_5_9::after {
    content: '414 x 896';
}
.md19_5_9::after {
    content: '375 x 812';
}
.sm19_5_9::after {
    content: '320 x 568';
}

.icon {
    width: 12px;
    height: 12px;
    fill: var(--white);
    stroke: var(--white);
    pointer-events: none;
}