/* * use BEM (Block, Entity, Modifier) for all css classes */

/* * Typography */
.primary_text {
    font: var(--font-400);
}

.primary_text__shrink {
    font: var(--font-200);
}

/* * Register */
.register {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.register_form {
    width: 512px;
    padding: var(--size-200) var(--size-400) var(--size-400) var(--size-400);
    text-align: center;
    background-color: var(--color-000);
}

.form_title {
    margin: var(--size-350) 0;
    color: var(--color-800);
}

/* * Form Inputs */
.form_submit:focus, .form_link:focus {
    border-radius: 4px;
    box-shadow: 0 0 0 var(--size-025) var(--color-000), 0 0 0 var(--size-050) var(--color-800);
}

.form_submit, .register_page {
    width: 100%;
}

.form_submit {
    border-radius: 4px;
    height: var(--size-600);
}

.input_password_icon, .form_submit__active {
    cursor: pointer;
}

.form_submit__active {
    background-color: var(--color-teal);
    fill: var(--color-000);
    stroke: var(--color-000);
}

.form_submit__active:hover {
    background-color: var(--color-teal-lighten);
}

.form_submit__disabled {
    background-color: var(--color-100);
    fill: var(--color-300);
    stroke: var(--color-300);
    cursor: not-allowed;
}

/* * Links */
.form_links {
    align-items: center;
    margin-top: var(--size-250);
}

.form_link {
    line-height: var(--line-height);
    text-decoration: none;
    color: var(--color-500);
}

.form_link:hover {
    color: var(--color-800);
}

.register_page {
    margin-bottom: var(--size-100);
}

.page_container {
    margin: 0 var(--size-075);
}

.page_button {
    width: var(--size-325);
    height: var(--size-050);
    cursor: pointer;
}

.page_button__disabled {
    background-color: var(--color-200);
}

.page_button__disabled:hover {
    background-color: var(--color-300);
}

.page_button__active {
    background-color: var(--color-teal);
}

/* * Icons */
.icon_default {
    height: auto;
    fill: inherit;
    stroke: inherit;
    width: var(--size-350);
}