/* * use BEM (Block, Entity, Modifier) for all css classes */
/* * Blocks */
.container {
    flex-grow: 1;
}

.register {
    width: 512px;
    padding: var(--size-200) var(--size-400) var(--size-400) var(--size-400);
    text-align: center;
    background-color: var(--color-000);
}

/* * Heading */
.form_title {
    margin: var(--size-350) 0;
    color: var(--color-800);
}

/* * Icons */
.icon_default {
    width: var(--size-350);
    height: auto;
    fill: inherit;
    stroke: inherit;
}

.icon_loadingSpinner {
    width: var(--size-400);
    height: auto;
    fill: inherit;
    stroke: inherit;
    animation: rotate 2.5s linear infinite;
}

/* * Keyframes */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(90deg);
    }
    20% {
        transform: rotate(270deg);
    }
    30% {
        transform: rotate(540deg);
    }
    40% {
        transform: rotate(900deg);
    }
    50% {
        transform: rotate(1350deg);
    }
    60% {
        transform: rotate(1900deg);
    }
    70% {
        transform: rotate(2270deg);
    }
    80% {
        transform: rotate(2550deg);
    }
    90% {
        transform: rotate(2740deg);
    }
    100% {
        transform: rotate(2880deg);
    }
}

/* * Links */
.form_links {
    margin-top: var(--size-250);
    align-items: center;
}

.form_link {
    line-height: var(--line-height);
    text-decoration: none;
    color: var(--color-500);
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.form_link:hover {
    color: var(--color-800);
}

.form_link:focus-visible::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    border-radius: 4px;
    background: var(--color-000);
    box-shadow: 0 0 0 2px var(--color-800);
}

/* * Navigation */
.step_button {
    width: var(--size-325);
    height: var(--size-050);
    margin: 0 var(--size-075) var(--size-100);
}

.step_button__active {
    background-color: var(--color-teal);
}

.step_button__disabled {
    background-color: var(--color-200);
}

.step_button__disabled:hover {
    background-color: var(--color-300);
}

/* * Submit */
.form_submit {
    height: var(--size-600);
    border-radius: 4px;
}

.form_submit__active {
    cursor: pointer;
    background-color: var(--color-teal);
    fill: var(--color-000);
    stroke: var(--color-000);
}

.form_submit__active:hover {
    background-color: var(--color-teal-lighten);
}

.form_submit__disabled {
    background-color: var(--color-100);
    fill: var(--color-300);
    stroke: var(--color-300);
    cursor: not-allowed;
}

.form_submit:focus-visible {
    box-shadow: 0 0 0 var(--size-025) var(--color-000), 0 0 0 var(--size-050) var(--color-800);
}

/* * Typography */
.primary_text {
    font: var(--font-400);
}

.primary_text__shrink {
    font: var(--font-200);
}