/* * use BEM (Block, Entity, Modifier) for all css classes */

/* * Typography */
.primary_text {
    font: var(--font-400);
}

.primary_text__shrink {
    font: var(--font-200);
}

/* * Register */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.register {
    width: 512px;
    padding: var(--size-200) var(--size-400) var(--size-400) var(--size-400);
    text-align: center;
    background-color: var(--color-000);
}

.form_title {
    margin: var(--size-350) 0;
    color: var(--color-800);
}

/* * Form Inputs */
.form_submit:focus {
    border-radius: 4px;
    box-shadow: 0 0 0 var(--size-025) var(--color-000), 0 0 0 var(--size-050) var(--color-800);
}

/* Base styles for form inputs */
.form_link {
    position: relative;
    z-index: 1; /* Ensure the pseudo-element is behind */
    border-radius: 4px; /* Match the border-radius */
}

/* Focus styles for form inputs */
.form_link:focus {
    outline: none; /* Remove default outline */
}

/* Pseudo-element for gap and outline */
.form_link:focus::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust according to the gap size */
    left: 0px; /* Adjust according to the gap size */
    right: 0px; /* Adjust according to the gap size */
    bottom: 0px; /* Adjust according to the gap size */
    z-index: -1; /* Ensure it is behind the element */
    border-radius: 4px; /* Match the element's border-radius */
    background: white; /* Color of the gap */
    box-shadow: 0 0 0 2px black; /* Outer black outline */
}

.form_submit {
    border-radius: 4px;
    height: var(--size-600);
}

.form_submit__active {
    cursor: pointer;
}

.form_submit__active {
    background-color: var(--color-teal);
    fill: var(--color-000);
    stroke: var(--color-000);
}

.form_submit__active:hover {
    background-color: var(--color-teal-lighten);
}

.form_submit__disabled {
    background-color: var(--color-100);
    fill: var(--color-300);
    stroke: var(--color-300);
    cursor: not-allowed;
}

/* * Links */
.form_links {
    align-items: center;
    margin-top: var(--size-250);
}

.form_link {
    line-height: var(--line-height);
    text-decoration: none;
    color: var(--color-500);
}

.form_link:hover {
    color: var(--color-800);
}

.step_button {
    width: var(--size-325);
    height: var(--size-050);
    margin: 0 var(--size-075) var(--size-100);
}

.step_button__active {
    background-color: var(--color-teal);
}

.step_button__disabled {
    background-color: var(--color-200);
}

.step_button__disabled:hover {
    background-color: var(--color-300);
}

/* * Icons */
.icon_default {
    height: auto;
    fill: inherit;
    stroke: inherit;
    width: var(--size-350);
}