/*  [.border prefix] ------------------------------------------------------------------------------------[ borders ]> */
/* -------------------------------------------------------------------------------[ box shadow attributes ]> */
.border-shadow {
	box-shadow: 0 4px 8px rgb(0, 0, 0);
}
.border-shadow-light {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.border-shadow-inset {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.border-shadow-error {
    box-shadow: inset 0 1px 3px rgb(150,0,0, 0.8);
}
/* -------------------------------------------------------------------------------[ border attributes ]> */
.border-error-s {
    border: 1px solid red !important;
}
.border-gold-m {
    border: #FFCC01 solid 2px;
}
.border-none {
    border: none;
}
/* ----------------------------------------------------------------[ border attribute states ]> */