/*  [.color prefix] ------------------------------------------------------------------------------------[ colors ]> */
/* -------------------------------------------------------------------------------[ background attributes ]> */
.color-bg-blue {
    background-color: rgba(51, 103, 153, 0.9);
}
.color-bg-blue-red-l {
    background: linear-gradient(rgb(0,128,255),rgb(204,34,0));
}
/* -------------------------------------------------------------------------------[ color attributes ]> */
.color-burgundy {
    color: #752026;
}
.color-gold {
    color: #FFCC01;
}
.color-light-gray {
    color: #999;
}
.color-dark-gray {
    color: #555;
}
.color-red {
    color: red;
}
/* ----------------------------------------------------------------[ color attribute states ]> */
.color-gold-h:hover {
    color: #C69500;
}