/*  .color prefix ------------------------------------------------------------------------------------ backgrounds > */
.color-bg-blue {
    background-color: rgba(51, 103, 153, 0.9);
}
/* ------------------------------------------------------------------------------------ colors > */
.color-burgundy {
    color: #752026;
}
.color-light-gray {
    color: #999;
}
.color-dark-gray {
    color: #555;
}
.color-red {
    color: red;
}