/*  [.form prefix] ------------------------------------------------------------------------------------[ forms ]> */
/* -------------------------------------------------------------------------------[ form types ]> */
.form-m {
	width: 30vw;
	min-width: 200px;
	max-width: 600px;
}
/* -------------------------------------------------------------------------------[ form inputs ]> */
.form-input-m {
	height: 50px;
}
/* ----------------------------------------------------------------[ input padding ]> */

.form-p-input-password {
    padding: 20px 44px 6px 12px !important;
}
/* ----------------------------------------------------------------[ input positioning ]> */
.form-input-label {
    top: 7px;
    left: 13px;
}
.form-input-label--shrink {
    top: 2px;
    left: 13px;
}
.form-input-icon {
	top: 15px;
    right: 10px;
}