/* ------------------------------------------------------------------------------------ buttons > */
.form-submit-btn {
	height: 50px;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: darkslategray;
	color: #ffffff;
	font-size: 140%;
	cursor: pointer;
	transition: background-color 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.form-submit-btn:hover {
	background-color: hsl(358, 85%, 62%);
}
/* -------------------------------------------------------------------------- icons > */
.password-icon, .password-icon-active {
    position: absolute;
    top: 15px;
    right: 10px;
	cursor: pointer;
    transition: all 0.3s ease;
}
.password-icon {
	fill: #cecece;
	stroke: #cecece;
}
.password-icon:hover {
	fill: #afafaf;
	stroke: #afafaf;
}
.password-icon-active {
	fill: #afafaf;
	stroke: #afafaf;
}