.container-header {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
}
.favicon-img {
	height: 64px;
}
@keyframes wiggle { /* Define the keyframes for the wiggle animation */
    0%, 100% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-3px) rotate(-5deg);
    }
    50% {
        transform: translateX(3px) rotate(5deg);
    }
    75% {
        transform: translateX(-3px) rotate(-5deg);
    }
}
.favicon-img:hover { /* Apply animation to Pokeball on hover */
    animation: wiggle 0.5s ease;
}
.navbar-container {
	background: linear-gradient(rgb(0,128,255),rgb(204,34,0));
	margin-left: 5px;
	width: 90%;
	height: 70px;
	border: #FFCC01 solid 3px;
}
.nav-container {
	min-width: fit-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pokeChess-img {
	transition: all 0.3s ease;
	height: 50px;
}
.pokeChess-img:hover {
	height: 55px;
}
.pokeDex-img {
	height: 45px;
}
.nav-item, .nav-item-img, .nav-item-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-item-img {
	min-width: 200px;
	margin-left: 5px;
}
.nav-item {
	font-size: 130%;
	font-weight: bold;
	font-family: fantasy;
	width: fit-content;
}
.nav-item-button {
	width: fit-content;
	margin-right: 13px;
}
.item-button {
	padding-left: 5px auto !important;
	width: 108px !important;
	align-items: center !important;
	font-size: 85% !important;
	border-radius: 5px 30px 30px 5px !important;
	transition: all 0.3s ease !important;
	color: #FFCC01 !important;
	border-color: #FFCC01 !important;
}
.item-button:hover {
	color: #3466B0 !important;
	background-color: #FFCC01 !important;
}
.flexBoxSpaceBetween {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.link {
	padding: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.link-text {
	color: #FFCC01;
	font-weight: 100;
	transition: all 0.3s ease;
}
.link-hovered {
	color: #C69500;
}