/*  [.image prefix] ------------------------------------------------------------------------------------[ images ]> */
/* -------------------------------------------------------------------------------[ image types ]> */
.image-form-header {
	height: 100px;
}
.image-header-logo {
	height: 66px;
	margin-right: 5px;
}
/* ----------------------------------------------------------------[ image type states ]> */
.image-header-logo:hover { /* Apply animation to Pokeball on hover */
    animation: wiggle 0.5s ease;
}
/* -------------------------------------------------------------------------------[ icon types ]> */
/* ----------------------------------------------------------------[ icon colors ]> */
.image-icon-gold {
	fill: #FFCC01;
	stroke: #FFCC01;
}
.image-icon-light-gray {
	fill: #cecece;
	stroke: #cecece;
}
.image-icon-dark-gray {
	fill: #afafaf;
	stroke: #afafaf;
}
/* -------------------------------------------------[ icon color states ]> */
.image-icon-gold-h:hover {
	fill: #C69500;
	stroke: #C69500;
}
.image-icon-light-gray-h:hover {
	fill: #afafaf;
	stroke: #afafaf;
}
/* -------------------------------------------------------------------------------[ animations ]> */
@keyframes wiggle { /* Keyframes for the wiggle animation */
    0%, 100% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-3px) rotate(-5deg);
    }
    50% {
        transform: translateX(3px) rotate(5deg);
    }
    75% {
        transform: translateX(-3px) rotate(-5deg);
    }
}