/*  [.image prefix] ------------------------------------------------------------------------------------[ images ]> */
/* -------------------------------------------------------------------------------[ image types ]> */
.image-form-header {
	height: 8vh;
}
/* -------------------------------------------------------------------------------[ icon types ]> */
/* ----------------------------------------------------------------[ icon colors ]> */
.image-icon-light-gray {
	fill: #cecece;
	stroke: #cecece;
}
.image-icon-dark-gray {
	fill: #afafaf;
	stroke: #afafaf;
}
/* -------------------------------------------------[ icon color states ]> */
.image-icon-light-gray-h:hover {
	fill: #afafaf;
	stroke: #afafaf;
}