/*  .text prefix ------------------------------------------------------------------------------------ text size > */
.text-150 {
    font-size: 150%;
}
.text-140 {
    font-size: 140%;
}
.text-120 {
	font-size: 120%;
}
.text-90 {
    font-size: 90%;
}
.text-50 {
    font-size: 50%;
}
/* ------------------------------------------------------------------------------------ text weight > */
.text-lighter {
    font-weight: lighter;
}
/* ------------------------------------------------------------------------------------ text shadows > */
.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.text-shadow-error {
    text-shadow: 1px 1px 2px rgb(150,0,0, 0.8);
}